### Q1

 * star(*) is an operator which is used in multiplying.

* 'hello' is a string.

* -87.8 is a float.

* Minus(-) is an operator for subtraction.

* / is an operator for division. a/b gives the answer as float as well. ex: 15/2=7.5

* Plus(+) is an operator used for addition.

* 6 is an integer.

### Q2

String : String is a seqence of characters. In addition, we can create strings by adding numbers along the sequence of characters. Ex: 'Devasis', '15-9-162/L Gandhi Nagar' etc.

Variable: A variable is name that can assigned to a value. The value may be a string, integer, float or a boolean etc.

In the Question,
spam - Variable & 
'spam' - String

### Q3

Data Types: Data Types are the classes of a variable. Variables can store data of different classes.

String: it is a data type, which is denoted as sequence of character and sometimes mix with the characters, numbers and spaces as well. Strings are usually represent in single Quotes('') or in Double Quotes (""). Ex: 'Swapna', '176 Lawsons Bay Colony', 'Charles 1' etc.

Integer: Integers are the whole numbers and their additive inverse of numbers, but not the fractions. Ex: 6,32, 59, 153, -19, 0, -1634 etc.

Floats: Floats are the numbers which has decimal points. Integers and Floats are differnt by the decimal values. Ex: 6 is an integer whereas 6.0 is a float.

we can use type() funtion to know the data type of a variable.

In [2]:
print(type('Swapna'))
print(type(6))
print(type(6.0))

<class 'str'>
<class 'int'>
<class 'float'>

### Q4

The expression is a statement, which is assigned to a variable. Assigning a variable to a statement makes a statement into expression.

### Q5

### Q6

The final output is 22 only.

In [4]:
bacon=22
bacon+1
bacon

22

### Q7

The two terms give the same values.

In [2]:
'spam'+'spamspam'

'spamspamspam'

In [3]:
'spam'*3

'spamspamspam'

### Q8

Variable Names should start with Letter or Underscore(_). It may contain numbers but should not start with numbers. That is the reason why Eggs is the true variable but not 100.

### Q9

int, float and str are the functions used to convert a value to Integer, Float and String respectively.

In [7]:
#Example

a=11

b=int(a)
c=float(a)
d=str(a)

print(b)
print(c)
print(d)

print(type(b))
print(type(c))
print(type(d))

11
11.0
11
<class 'int'>
<class 'float'>
<class 'str'>

### Q10

In the given code in the question, the error is, we should not concatenate the integers to Strings. In the given code 99 is an integer. So we need to change 99 to string format so it will be executable. the change is from 99 to '99'.

In [10]:
#The correct code will be 
'I have eaten'+str(99)+'burritos'

'I have eaten99burritos'

In [11]:
#otherwise
'I have eaten'+'99'+'burritos'

'I have eaten99burritos'